body {
    background-image: url("image/background_image.png");
  }

  .nav{
    display: block;
    height: 47px;
    width: 100%;
    z-index: 9999;
    background-color: #e8f9fd00;
  
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
  }
  li {
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }
  
  
  li a {
    display: block;
    color: rgb(3, 2, 2);
    text-align:center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #bda2d700;
    text-decoration: underline;
  }
  
  .active {
    padding-right: 50px;
    padding-left: 50px;
  
  }
  h1{
    margin:20px 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: underline;
  }
.content {
    display:flex;
    align-items: center;
    margin-top: 40px;
}
.text{
    text-align: center;
    margin: 150px 150px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.pic{
    margin-left: 40px ;
}